MYSQL_USER=ssafy
MYSQL_PASSWORD=ssafy
MYSQL_ROOT_PASSWORD=root

JWT_SECRET=VGhpcyBpcyBhIHZlcnkgbG9uZyBzZWNyZXQga2V5IHRoYXQgaXMgc2VjdXJlIGVub3VnaCBmb3IgSFMyNTY=

KTO_SERVICE_KEY=your_kto_key
ODSAY_API_KEY=your_odsay_key
KAKAO_REST_API_KEY=your_kakao_key

OPENAI_API_KEY=your_openai_key
